
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="products && products.length">
        <tr *ngFor="let product of products; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn" (click)="removeItem(product.id)">
              xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  